// Margin
.no-margin {
	margin: 0;

	&--top {
		margin-top: 0;
	}

	&--bottom {
		margin-bottom: 0;
	}

	&--right {
		margin-right: 0;
	}

	&--left {
		margin-left: 0;
	}
}

// Floats
.float {
	&--left {
		float: left;
	}
	&--right {
		float: right;
	}
}

// Positioning
.position {
	&--absolute {
		position: absolute;
	}
	&--relative {
		position: relative;
	}
}

// Size
.width {
	&--full {
		width: 100%;
	}
	&--half {
		width: 50%;
	}
	&--quarter {
		width: 25%;
	}
	&--third {
		width: 33.33%;
	}
}

// Text
.text {
	&--right {
		text-align: right;
	}
	&--left {
		text-align: left;
	}
	&--center {
		text-align: center;
	}
}

// Bg
.bg {

}

// Color
.color {
	
}