head
	title #{metaTitle}
	meta(name="description", content="#{metaDescription}")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="charset", content="UTF-8")
	link(href="css/style.min.css", rel="stylesheet")
