body {
	text-align: center;
	font-family: Arial, Helvetica;
}

.site {

	&-header {
		font-size: 30px;
		padding: 30px;
		color: #fff;
		background-color: #4aa;
	}

	&-main {
		font-size: 30px;
		padding: 30px;
	}

	&-footer {
		font-size: 30px;
		padding: 30px;
		color: #fff;
		background-color: #333;
	}

}