extends templates/basic

block variables
	- var metaTitle = "FRNT"
	- var metaDescription = "Lightweight front end web development framework"
	- var metaDocumentType = "Website"
	- var metaURL = "http://www.dev.jtlr.co.uk/FRNT"
	- var metaImage = "http://www.dev.jtlr.co.uk/FRNT/images/image.jpg"
	- var metaKeywords = ""

block content
	main.site-main
		h1 #{metaTitle}
		h2 #{metaDescription}