nav.navigation
    ul.navigation_list
        li.navigation_list-item
            a.navigation_link(href="#") Home
        li.navigation_list-item
            a.navigation_link(href="#") About
        li.navigation_list-item
            a.navigation_link(href="#") Contact