nav.Navigation
    ul.Navigation__list
        li.Navigation__list-item
            a.Navigation__link(href="#") Home
        li.Navigation__list-item
            a.Navigation__link(href="#") About
        li.Navigation__list-item
            a.Navigation__link(href="#") Contact